

@import url('https://fonts.googleapis.com/css2?family=Poppins:200,300,400,600,700,800&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    padding: 0;
}

body {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background: #181c1f;
    
}
.container {
    position: relative;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    /* background: #fff; */
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, transparent, transparent, #0005);
}

.cloud {
    position: relative;
    width: 320px;
    height: 100px;
    background: #fff;
    border-radius: 100px;
    z-index: 100;
    filter: drop-shadow(0 0 35px #fff);
}